html {
  background-color: #fcfcfc;
  font-family: 'Noto Sans KR', sans-serif;
}

.active {
    color: black;
}

.nonactive {
    color: #707070;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.layout {
    background-color: transparent;
    margin: 1rem auto;
    max-width: 1024px;
    padding: 0 1rem;
}

a { 
    text-decoration:none; 
    color: black;
}

.logo-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    object-fit: contain;
    width: 28px;
    height: 28px;
    margin-right: 5px;
}

.logo-text {
    background: -webkit-linear-gradient(30deg,#00624B, #1F7D86, #00906B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contents {
    max-height: 800px;
}

.text-container {
}

.title-wrapper {
    margin-bottom: 10px;
    line-height: 0.5;
}

.h1title {
    word-break: keep-all;
    font-size: 72px;

    line-height: 0.5;

    color: #00241b;
    /* background: -webkit-linear-gradient(30deg,#00624B, #1F7D86, #00906B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    
}

.h2title {
    font-size: 40px;
}

.subtitle-wrapper {

}

.subtitle {
    line-height: 0.8;
}

.white {
    color: white;
}

.grey {
    color: rgb(37, 37, 37);
    margin-left: 5px;
}

.image-container {

}

.main-image {
    
}

.phone-image {

}


#background-rectangle {
    z-index: -1;
}

.app-download-button {
    background: #00624B;
    border-radius: 0px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    padding: 16px 31px;
    text-decoration: none;
    border: none;
    margin-top: 50px;
    font-weight: 500;
}
.app-download-button-image {
    cursor: pointer;
    
    object-fit: contain;
    width: 200px;
    
}

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #fcfcfc;

    padding-bottom: 3rem;

    color: rgb(168, 168, 168);

    margin: 3rem 0;
}

.footer-section {
    
}
.footer-paragraph {
    line-height: 0.5;
    word-break: keep-all;
}


@media (max-width: 767px) {

    .about_head1 {
        font-size: 50px;
        padding-bottom: 10rem;
    }
    .logo {

    }

    header {
        
    }
    .contents {
        height: 600px;
    }

    .text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title-wrapper {
        text-align: center;
        margin-bottom: 10px;
        line-height: 0.5;
    }

    .h1title {
        font-size: 30px;
        margin-bottom: 30px;
        font-weight: 500;

        line-height: 0.3;
    }

    .h2title {
        font-size: 28px;
        font-weight: 500;
    }

    .subtitle-wrapper {
        text-align: center;
    }

    .subtitle {

    }

    .image-container {

    }

    #background-rectangle {
        background:linear-gradient(-35deg, #00624B, #1F7D86, #00906B);
        position: absolute;
        width: 100%;
        height:1850px;
        left: 0;
        top: 650px;

        /* -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg) translateX(0%) translateY(100px); */
    }

    .image-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .main-image {
        z-index: -2;
        object-fit: contain;
        width: 350px;
        height: 350px;
        transform: translateY(-5%) translateX(10px);
    }
    .phone-image {
        z-index: 0;
        object-fit: cover;
        width: 300px;
        height: 350px;
        transform: translateY(0%) translateX(0px);
        object-position: top;
    }

    .app-download-button {

        position: fixed;
        bottom: -2px;
        left: 0;
        width: 100vw;

        z-index: 3;
    }

    .footer-paragraph {
        font-size: 12px;
        line-height: 0.5;
        word-break: keep-all;
        }
}

@media (min-width: 768px) {
    .about_head1 {
        font-size: 70px;
    }
    header {

    }
    .contents {
        height: 800px;
    }

    .text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .title-wrapper {
        margin-bottom: 10px;
        line-height: 0.5;
    }

    .h1title {
        font-size: 80px;
        font-weight: normal;
    }

    .h2title {
        font-size: 50px;
        font-weight: 500;
    }

    .subtitle-wrapper {

    }

    .subtitle {
        
    }


    .contents {
    }

    #background-rectangle {
        background:linear-gradient(0deg, #00624B, #1F7D86, #00906B);
        position: absolute;
        width: 100vw;
        height:2450px;
        
        top: 800px;
        left: 0;

        /* -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(14deg) translateX(-50%) translateY(300px); */
    }

    /* #background-rectangle {
        background:linear-gradient(0deg, #00624B, #1F7D86, #00906B);
        position: absolute;
        width: 5000px;
        height:2200px;
        
        top: 1200px;

        -ms-transform: rotate(14deg);
        -webkit-transform: rotate(14deg);
        transform: rotate(14deg) translateX(-50%) translateY(300px);
    } */

    .image-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;;
    }

    .main-image {
        z-index: -2;
        object-fit: contain;
        width: 500px;
        height: 500px;
        transform: translateY(-50%) translateX(0px);
    }

    .phone-image {
        z-index: 0;
        object-fit: contain;
        width: 500px;
        height: 600px;
        transform: translateY(-300px) translateX(-50px);
    }

    .app-download-button {
        margin-left: 5px;
    }
}



.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #ffffff;
}

.section1 {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

.section2 {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin-bottom: 100px;
}

.section3 {
    width: 100%;

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 100px;
}

.about_head1 {
    /* font-size: 70px; */
    word-break: keep-all;
    text-align: center;

    background: -webkit-linear-gradient(30deg,#00624B, #1F7D86, #00906B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.about_head2 {
    background: -webkit-linear-gradient(30deg,#00624B, #1F7D86, #00906B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 20px;
}

.about_paragraph {

}

.card1 {
    width: 350px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    -webkit-box-shadow: 0px -1px 130px -6px rgba(232,229,232,1);
    -moz-box-shadow: 0px -1px 130px -6px rgba(232,229,232,1);
    box-shadow: 0px -1px 130px -6px rgba(232,229,232,1);

    margin: 20px 20px;

    border-radius: 15px;
}

.card2 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 25px;
}

.card2::after {
    transform: translateY(70%);
    width: 2.5px;
    height: 20px;
    background: black;

    content:    "";
}